/*--------------------------------------------------------------
# Header 03
--------------------------------------------------------------*/
header.header-03 {
    .topbar {
        padding: 0;
        .topbar-container {
            padding-left: 80px;
            padding-right: 80px;
        }
    }
    .header-container {
        position: relative;
        padding: 0 80px;
        .header-right {
            position: static;
            text-align: right;
            nav {
                display: inline-block;
            }
            .btn-wrap {
                display: inline-block;
                position: relative;
                height: 40px;
                .mini-cart-wrap {
                    display: inline-block;
                    margin-left: 20px;
                    height: 40px;
                    vertical-align: middle;
                    .mini-cart {
                        margin-right: 0;
                        margin-bottom: -5px;
                        .mini-cart-icon {
                            font-size: 24px;
                            line-height: 40px;
                            margin-right: 0px;
                            &:after {
                                top: 0;
                            }
                        }
                        .mini-cart-text {
                            display: none;
                        }
                    }
                    .widget_shopping_cart_content {
                        right: 0;
                        left: auto;
                    }
                }
                .top-search-btn-wrap {
                    display: inline-block;
                    height: 40px;
                    border-left: 1px solid #eeeeee;
                    margin-left: 20px;
                    padding-left: 20px;
                    vertical-align: middle;
                    .top-search-btn {
                        display: inline-block;
                        width: 24px;
                        height: 40px;
                        cursor: pointer;
                        text-align: left;
                        margin-bottom: -5px;
                        &:before {
                            content: "\f4a5";
                            font-family: Ionicons;
                            font-size: 24px;
                            line-height: 40px;
                            font-weight: 700;
                        }
                    }
                }
                .top-call-btn {
                    display: inline-block;
                    float: right;
                    vertical-align: middle;
                    margin-left: 20px;
                    color: #ffffff;
                    background-color: $primary-color;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 20px;
                    font-size: 14px;
                    font-weight: 700;
                    @include border-radius(4px);
                    &:before {
                        content: '\f4b9';
                        font-family: Ionicons;
                        font-size: 34px;
                        font-weight: 400;
                        color: #392a25;
                        opacity: .3;
                        margin-right: 10px;
                        float: left;
                    }
                    &:hover {
                        &:before {
                            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
                            transform: translate3d(0, 0, 0);
                            backface-visibility: hidden;
                            perspective: 1000px;
                        }
                    }
                }
            }
        }
    }
    nav.menu {
        text-align: center;
        li {
            a {
                text-transform: uppercase;
            }
        }
    }
    nav.menu {
        ul {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-down(lg) {

}